@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

@media only screen and (max-width:720px) {
    .App{
      width: 100vw;
        .container{
            .two_columns{
                grid-template-columns: 100%;
                grid-template-rows: 50%;
                .right_column{
                    .both_column_right{
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 100vh;
                    }
                }
            }
            .footer_nerds{
                display: none;
            }
            .locked_big{
                margin-left: 40 px;
                color: gray;
                font-size: 50px;
            }
        }
    }
}